.grid-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px ;
}
.header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-evenly;
}

.container{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:  repeat(auto);
}


#splice{
  grid-column: 1/-1;
   grid-row: 1/2;

}

.comissions{
  grid-column: 1/-1;
   grid-row: 2/3;
}

#splice2{
  grid-column: 1/-1;
   grid-row: 3/4;

}
.contacts{
  grid-column: 1/-1;
   grid-row: 2/3;
}
